client.json
[{"id":"43c71968.2e61a8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"e6e5bd37.16e12","type":"coap request","z":"43c71968.2e61a8","method":"GET","observe":true,"url":"","content-format":"text/plain","raw-buffer":false,"name":"Subscribe to temperature","x":950,"y":960,"wires":[["b9463851.579d5"]]},{"id":"7a4eb6da.a83be","type":"inject","z":"43c71968.2e61a8","name":"Fire once on start","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":130,"y":180,"wires":[["b3c8e13c.2886c"]]},{"id":"398a0fb.5fc0ef","type":"function","z":"43c71968.2e61a8","name":"Temperature URL","func":"msg.url = \"coap://[\" + msg.payload.address + \"]/temperature\";\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":960,"wires":[["e6e5bd37.16e12"]]},{"id":"2cbd739.57a978c","type":"function","z":"43c71968.2e61a8","name":"Systems URL","func":"return {\n    url: \"coap://[\" + msg.payload.address + \"]/systems\"\n};","outputs":1,"noerr":0,"x":1320,"y":560,"wires":[["10a8f228.03197e"]]},{"id":"10a8f228.03197e","type":"coap request","z":"43c71968.2e61a8","method":"GET","observe":false,"url":"","content-format":"text/plain","raw-buffer":false,"name":"Get systems status","x":1550,"y":560,"wires":[["c2c2b7ec.21331"]]},{"id":"b9463851.579d5","type":"ui_gauge","z":"43c71968.2e61a8","name":"Temperature","group":"963cc694.1d9338","order":2,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"","format":"{{msg.payload.temperature}} °C","min":"-10","max":"50","colors":["#00ddff","#e6e600","#ca3838"],"seg1":"20","seg2":"30","x":1170,"y":960,"wires":[]},{"id":"7c21f686.e60ab","type":"ui_switch","z":"43c71968.2e61a8","name":"","label":"Cooling","tooltip":"","group":"963cc694.1d9338","order":3,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"cooling","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":2260,"y":500,"wires":[["fc15b321.72166"]]},{"id":"a07a72b9.6bfe18","type":"ui_switch","z":"43c71968.2e61a8","name":"","label":"Heating","tooltip":"","group":"963cc694.1d9338","order":4,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"heating","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":2260,"y":560,"wires":[["fc15b321.72166"]]},{"id":"baa47b03.24a06","type":"ui_switch","z":"43c71968.2e61a8","name":"","label":"Ventilation","tooltip":"","group":"963cc694.1d9338","order":5,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"ventilation","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":2270,"y":620,"wires":[["fc15b321.72166"]]},{"id":"d32038ed.f6cdd8","type":"ui_dropdown","z":"43c71968.2e61a8","name":"Thermostat selection","label":"","tooltip":"","place":"Select the thermostat","group":"963cc694.1d9338","order":1,"width":0,"height":0,"passthru":true,"options":[],"payload":"","topic":"","x":860,"y":600,"wires":[["f8400ed5.56b3c8"]]},{"id":"940ea36f.16d968","type":"split","z":"43c71968.2e61a8","name":"For each thermostat","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"address","x":480,"y":960,"wires":[[]]},{"id":"b3c8e13c.2886c","type":"function","z":"43c71968.2e61a8","name":"Thermostats list","func":"var thermostats = [\n    {\n        name: \"Thermostat 1\",\n        address: \"aaaa::212:7402:2:202\"\n    }\n]\n\nreturn { payload: thermostats };","outputs":1,"noerr":0,"x":200,"y":380,"wires":[["940ea36f.16d968","ec244c02.b2ef08"]]},{"id":"ec244c02.b2ef08","type":"function","z":"43c71968.2e61a8","name":"Create dropdown list","func":"var thermostats = msg.payload;\nvar list = [];\n\nthermostats.forEach(function(thermostat) {\n    var element = {};\n    element[thermostat.name] = thermostat.address;\n    list.push(element);\n});\n\nreturn { options: list };","outputs":1,"noerr":0,"x":620,"y":600,"wires":[["d32038ed.f6cdd8"]]},{"id":"7c7ea491.47c984","type":"join","z":"43c71968.2e61a8","name":"Wait for switch change","mode":"custom","build":"merged","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":1540,"y":720,"wires":[["69ec1af8.3fa4b4","e7afcb03.edfe8","5e47582.5f67ca8"]]},{"id":"69ec1af8.3fa4b4","type":"function","z":"43c71968.2e61a8","name":"Build request","func":"return {\n    url: \"coap://[\" + msg.payload.address + \"]/systems/\" + msg.payload.system,\n};","outputs":1,"noerr":0,"x":1810,"y":720,"wires":[["f236d4b1.45ec08"]]},{"id":"f236d4b1.45ec08","type":"coap request","z":"43c71968.2e61a8","method":"POST","observe":false,"url":"","content-format":"text/plain","raw-buffer":false,"name":"Send change request","x":2080,"y":720,"wires":[["4333da40.c9e10c"]]},{"id":"e7afcb03.edfe8","type":"join","z":"43c71968.2e61a8","name":"Wait for system response","mode":"custom","build":"merged","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1550,"y":820,"wires":[["c6a1ae56.7663a8"]]},{"id":"f8400ed5.56b3c8","type":"function","z":"43c71968.2e61a8","name":"Wrap address","func":"return {\n    payload: {\n        address: msg.payload\n    }\n};","outputs":1,"noerr":0,"x":1080,"y":600,"wires":[["2cbd739.57a978c","7c7ea491.47c984"]]},{"id":"34d4dbae.5a7cec","type":"switch","z":"43c71968.2e61a8","name":"Dispatch response","property":"system","propertyType":"msg","rules":[{"t":"eq","v":"cooling","vt":"str"},{"t":"eq","v":"heating","vt":"str"},{"t":"eq","v":"ventilation","vt":"str"}],"checkall":"false","repair":false,"outputs":3,"x":2070,"y":560,"wires":[["7c21f686.e60ab"],["a07a72b9.6bfe18"],["baa47b03.24a06"]]},{"id":"c6a1ae56.7663a8","type":"change","z":"43c71968.2e61a8","name":"Switch update message","rules":[{"t":"set","p":"system","pt":"msg","to":"payload.system","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"payload.value","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1810,"y":820,"wires":[["34d4dbae.5a7cec"]]},{"id":"4333da40.c9e10c","type":"change","z":"43c71968.2e61a8","name":"Allow join","rules":[{"t":"set","p":"complete","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":2300,"y":720,"wires":[["e7afcb03.edfe8"]]},{"id":"c2c2b7ec.21331","type":"function","z":"43c71968.2e61a8","name":"Get single systems status","func":"var systems = [\"cooling\", \"heating\", \"ventilation\"];\nvar messages = [];\n\nsystems.forEach(function(sys) {\n    messages.push({\n        system: sys,\n        payload: msg.payload[sys]\n    });\n})\n\nreturn [messages];","outputs":1,"noerr":0,"x":1810,"y":560,"wires":[["34d4dbae.5a7cec"]]},{"id":"fc15b321.72166","type":"function","z":"43c71968.2e61a8","name":"Prepare desired change","func":"return {\n    payload: {\n        system: msg.topic,\n        value: msg.payload,\n    },\n    complete: true\n}","outputs":1,"noerr":0,"x":2510,"y":620,"wires":[["7c7ea491.47c984"]]},{"id":"5e47582.5f67ca8","type":"function","z":"43c71968.2e61a8","name":"Allow new changes","func":"return {\n    payload: {\n        address: msg.payload.address\n    }\n}","outputs":1,"noerr":0,"x":1290,"y":780,"wires":[["7c7ea491.47c984"]]},{"id":"963cc694.1d9338","type":"ui_group","z":"","name":"Thermostat control","tab":"1faf99ff.d5b4f6","disp":true,"width":"6","collapse":false},{"id":"1faf99ff.d5b4f6","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]