client.json
[{"id":"53bc0b3e.19bae4","type":"tab","label":"Smart thermostat","disabled":false,"info":""},{"id":"2e4316bf.b6ef3a","type":"inject","z":"53bc0b3e.19bae4","name":"Fire once on start","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":130,"y":400,"wires":[["e66cc43b.5e4488"]]},{"id":"a2ef77a.d005688","type":"ui_gauge","z":"53bc0b3e.19bae4","name":"Current temperature","group":"963cc694.1d9338","order":1,"width":0,"height":0,"gtype":"gage","title":"Current","label":"","format":"{{msg.payload.temperature}} 째C","min":"-10","max":"50","colors":["#00ddff","#e6e600","#ca3838"],"seg1":"20","seg2":"30","x":1300,"y":420,"wires":[]},{"id":"c5d4df30.27cd1","type":"coap request","z":"53bc0b3e.19bae4","method":"GET","observe":true,"url":"","content-format":"text/plain","raw-buffer":false,"name":"Subscribe to temperature","x":1050,"y":420,"wires":[["a2ef77a.d005688","4dd80a7c.d4ff2c"]]},{"id":"7e584936.16ab08","type":"function","z":"53bc0b3e.19bae4","name":"Temperature URL","func":"return {\n    url:  msg.payload + \"/temperature\"\n};","outputs":1,"noerr":0,"x":810,"y":420,"wires":[["c5d4df30.27cd1"]]},{"id":"c32f5771.a70c5","type":"function","z":"53bc0b3e.19bae4","name":"Systems URL","func":"return {\n    url: msg.payload + \"/systems\"\n};","outputs":1,"noerr":0,"x":800,"y":380,"wires":[["d0eb526a.747a8"]]},{"id":"d0eb526a.747a8","type":"coap request","z":"53bc0b3e.19bae4","method":"GET","observe":false,"url":"","content-format":"text/plain","raw-buffer":false,"name":"Get systems status","x":1030,"y":380,"wires":[["c6e5539a.72945"]]},{"id":"c6e5539a.72945","type":"function","z":"53bc0b3e.19bae4","name":"Get single systems status","func":"var systems = [\"cooling\", \"heating\", \"ventilation\"];\nvar messages = [];\n\nsystems.forEach(function(sys) {\n    messages.push({\n        system: sys,\n        payload: msg.payload[sys]\n    });\n})\n\nreturn [messages];","outputs":1,"noerr":0,"x":1290,"y":380,"wires":[["3fd42271.e17026"]]},{"id":"3fd42271.e17026","type":"switch","z":"53bc0b3e.19bae4","name":"Dispatch response","property":"system","propertyType":"msg","rules":[{"t":"eq","v":"cooling","vt":"str"},{"t":"eq","v":"heating","vt":"str"},{"t":"eq","v":"ventilation","vt":"str"}],"checkall":"false","repair":false,"outputs":3,"x":1550,"y":380,"wires":[["aa9a3308.f6f758"],["3441333e.01bcc4"],["de0fa04.f0f6e6"]]},{"id":"aa9a3308.f6f758","type":"ui_switch","z":"53bc0b3e.19bae4","name":"","label":"Cooling","tooltip":"","group":"963cc694.1d9338","order":4,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"cooling","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":1760,"y":360,"wires":[["29ac595d.7984c6"]]},{"id":"3441333e.01bcc4","type":"ui_switch","z":"53bc0b3e.19bae4","name":"","label":"Heating","tooltip":"","group":"963cc694.1d9338","order":5,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"heating","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":1760,"y":400,"wires":[["29ac595d.7984c6"]]},{"id":"de0fa04.f0f6e6","type":"ui_switch","z":"53bc0b3e.19bae4","name":"","label":"Ventilation","tooltip":"","group":"963cc694.1d9338","order":6,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"ventilation","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":1770,"y":440,"wires":[["29ac595d.7984c6"]]},{"id":"3a91ba5c.fdd52e","type":"change","z":"53bc0b3e.19bae4","name":"Switch update message","rules":[{"t":"set","p":"system","pt":"msg","to":"payload.system","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"payload.value","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1830,"y":280,"wires":[["3fd42271.e17026"]]},{"id":"29ac595d.7984c6","type":"function","z":"53bc0b3e.19bae4","name":"Prepare desired change","func":"return {\n    payload: {\n        system: msg.topic,\n        value: msg.payload,\n    }\n}","outputs":1,"noerr":0,"x":2010,"y":380,"wires":[["4a2a9103.7d4be","e1e7d415.ded8e"]]},{"id":"e1e7d415.ded8e","type":"join","z":"53bc0b3e.19bae4","name":"Wait for system response","mode":"custom","build":"merged","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1570,"y":280,"wires":[["3a91ba5c.fdd52e"]]},{"id":"4a2a9103.7d4be","type":"function","z":"53bc0b3e.19bae4","name":"Build request","func":"var thermostats = flow.get(\"thermostats\");\n\nreturn {\n    url: \"coap://[\" + thermostats[0].address + \"]/systems/\" + msg.payload.system,\n};","outputs":1,"noerr":0,"x":2250,"y":380,"wires":[["8aa241f6.a5115"]]},{"id":"4da6ab73.3d580c","type":"change","z":"53bc0b3e.19bae4","name":"Allow join","rules":[{"t":"set","p":"complete","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":2660,"y":380,"wires":[["e1e7d415.ded8e"]]},{"id":"8aa241f6.a5115","type":"coap request","z":"53bc0b3e.19bae4","method":"POST","observe":false,"url":"","content-format":"text/plain","raw-buffer":false,"name":"Send change request","x":2460,"y":380,"wires":[["4da6ab73.3d580c"]]},{"id":"384e769.caa108a","type":"inject","z":"53bc0b3e.19bae4","name":"Repeat every minute","topic":"","payload":"","payloadType":"str","repeat":"60","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":1440,"wires":[["bc69b523.76ae38","60372c72.8802b4"]]},{"id":"4dd80a7c.d4ff2c","type":"function","z":"53bc0b3e.19bae4","name":"Store last measurement","func":"var thermostat = flow.get(\"thermostats\")[0];\n\nvar temperatures = flow.get(\"temperatures\") || {};\nvar values = temperatures[thermostat.address] || [];\n\nvalues.push(msg.payload.temperature);\ntemperatures[thermostat.address] = values;\n\nflow.set(\"temperatures\", temperatures);","outputs":1,"noerr":0,"x":1310,"y":460,"wires":[[]]},{"id":"bc69b523.76ae38","type":"function","z":"53bc0b3e.19bae4","name":"Home average temperature","func":"var mqtt_topic = \"channels/803420/publish/fields/field1/8JSB8495148O2ZGT\";\n\nvar temperatures = flow.get(\"temperatures\") || {};\nvar values = Object.values(temperatures); \n\nif (values.length !== 0) {\n    var sum = values.reduce((sum, current) => sum + current[current.length - 1], 0);\n    var average = sum / values.length;\n    \n    return [{\n        topic: mqtt_topic,\n        payload: average\n    },\n    {}];\n    \n} else {\n    return [null, {}];\n}","outputs":2,"noerr":0,"x":400,"y":1400,"wires":[["487ae1e6.4f8768"],["ed0a50d2.376048"]]},{"id":"487ae1e6.4f8768","type":"mqtt out","z":"53bc0b3e.19bae4","name":"Publish to ThingSpeak","topic":"","qos":"0","retain":"false","broker":"96911e44.7cc4a8","x":800,"y":1400,"wires":[]},{"id":"e66cc43b.5e4488","type":"function","z":"53bc0b3e.19bae4","name":"Thermostats list","func":"flow.set(\"thermostats\", [\n    {\n        name: \"Thermostat 1\",\n        address: \"aaaa::212:7402:2:202\"\n    },\n    {\n        name: \"Thermostat 2\",\n        address: \"aaaa::212:7403:3:303\"\n    },\n    {\n        name: \"Thermostat 3\",\n        address: \"aaaa::212:7404:4:404\"\n    },\n    {\n        name: \"Thermostat 4\",\n        address: \"aaaa::212:7405:5:505\"\n    }\n])\n\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":400,"wires":[["a006a7d5.87a948","474d9046.f62b9","868a7c48.18f078","6d7c9c8e.03e3bc"]]},{"id":"a006a7d5.87a948","type":"function","z":"53bc0b3e.19bae4","name":"Base URL","func":"var thermostats = flow.get(\"thermostats\");\n\nreturn {\n    payload: \"coap://[\" + thermostats[0].address + \"]\"\n};","outputs":1,"noerr":0,"x":610,"y":400,"wires":[["c32f5771.a70c5","7e584936.16ab08"]]},{"id":"474d9046.f62b9","type":"function","z":"53bc0b3e.19bae4","name":"Base URL","func":"var thermostats = flow.get(\"thermostats\");\n\nreturn {\n    payload: \"coap://[\" + thermostats[1].address + \"]\"\n};","outputs":1,"noerr":0,"x":610,"y":680,"wires":[["44d0774a.4bd098","4fcd96f2.7a8d6"]]},{"id":"44d0774a.4bd098","type":"function","z":"53bc0b3e.19bae4","name":"Systems URL","func":"return {\n    url: msg.payload + \"/systems\"\n};","outputs":1,"noerr":0,"x":800,"y":660,"wires":[["c0f13338.73499"]]},{"id":"4fcd96f2.7a8d6","type":"function","z":"53bc0b3e.19bae4","name":"Temperature URL","func":"return {\n    url:  msg.payload + \"/temperature\"\n};","outputs":1,"noerr":0,"x":810,"y":700,"wires":[["ee845e9d.2ba708"]]},{"id":"c0f13338.73499","type":"coap request","z":"53bc0b3e.19bae4","method":"GET","observe":false,"url":"","content-format":"text/plain","raw-buffer":false,"name":"Get systems status","x":1030,"y":660,"wires":[["9193c144.225508"]]},{"id":"ee845e9d.2ba708","type":"coap request","z":"53bc0b3e.19bae4","method":"GET","observe":true,"url":"","content-format":"text/plain","raw-buffer":false,"name":"Subscribe to temperature","x":1050,"y":700,"wires":[["f40f8653.216318","d645aa55.15ea48"]]},{"id":"9193c144.225508","type":"function","z":"53bc0b3e.19bae4","name":"Get single systems status","func":"var systems = [\"cooling\", \"heating\", \"ventilation\"];\nvar messages = [];\n\nsystems.forEach(function(sys) {\n    messages.push({\n        system: sys,\n        payload: msg.payload[sys]\n    });\n})\n\nreturn [messages];","outputs":1,"noerr":0,"x":1290,"y":660,"wires":[["c1fbbeb1.7a5e38"]]},{"id":"f40f8653.216318","type":"ui_gauge","z":"53bc0b3e.19bae4","name":"Current temperature","group":"b3cea44f.49b518","order":1,"width":0,"height":0,"gtype":"gage","title":"Current","label":"","format":"{{msg.payload.temperature}} 째C","min":"-10","max":"50","colors":["#00ddff","#e6e600","#ca3838"],"seg1":"20","seg2":"30","x":1300,"y":700,"wires":[]},{"id":"c1fbbeb1.7a5e38","type":"switch","z":"53bc0b3e.19bae4","name":"Dispatch response","property":"system","propertyType":"msg","rules":[{"t":"eq","v":"cooling","vt":"str"},{"t":"eq","v":"heating","vt":"str"},{"t":"eq","v":"ventilation","vt":"str"}],"checkall":"false","repair":false,"outputs":3,"x":1550,"y":660,"wires":[["37a448ad.f45658"],["cb5a0425.b37e98"],["4cc9d5cb.04535c"]]},{"id":"37a448ad.f45658","type":"ui_switch","z":"53bc0b3e.19bae4","name":"","label":"Cooling","tooltip":"","group":"b3cea44f.49b518","order":4,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"cooling","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":1760,"y":640,"wires":[["8c9bd7b9.e26b"]]},{"id":"cb5a0425.b37e98","type":"ui_switch","z":"53bc0b3e.19bae4","name":"","label":"Heating","tooltip":"","group":"b3cea44f.49b518","order":5,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"heating","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":1760,"y":680,"wires":[["8c9bd7b9.e26b"]]},{"id":"4cc9d5cb.04535c","type":"ui_switch","z":"53bc0b3e.19bae4","name":"","label":"Ventilation","tooltip":"","group":"b3cea44f.49b518","order":6,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"ventilation","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":1770,"y":720,"wires":[["8c9bd7b9.e26b"]]},{"id":"f46bc687.90bf28","type":"change","z":"53bc0b3e.19bae4","name":"Switch update message","rules":[{"t":"set","p":"system","pt":"msg","to":"payload.system","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"payload.value","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1830,"y":560,"wires":[["c1fbbeb1.7a5e38"]]},{"id":"8c9bd7b9.e26b","type":"function","z":"53bc0b3e.19bae4","name":"Prepare desired change","func":"return {\n    payload: {\n        system: msg.topic,\n        value: msg.payload,\n    }\n}","outputs":1,"noerr":0,"x":2010,"y":660,"wires":[["2981d776.98f578","5bb8349a.d513b4"]]},{"id":"5bb8349a.d513b4","type":"join","z":"53bc0b3e.19bae4","name":"Wait for system response","mode":"custom","build":"merged","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1570,"y":560,"wires":[["f46bc687.90bf28"]]},{"id":"2981d776.98f578","type":"function","z":"53bc0b3e.19bae4","name":"Build request","func":"var thermostats = flow.get(\"thermostats\");\n\nreturn {\n    url: \"coap://[\" + thermostats[1].address + \"]/systems/\" + msg.payload.system,\n};","outputs":1,"noerr":0,"x":2250,"y":660,"wires":[["2c375a9e.5323e6"]]},{"id":"1c225577.a8576b","type":"change","z":"53bc0b3e.19bae4","name":"Allow join","rules":[{"t":"set","p":"complete","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":2660,"y":660,"wires":[["5bb8349a.d513b4"]]},{"id":"2c375a9e.5323e6","type":"coap request","z":"53bc0b3e.19bae4","method":"POST","observe":false,"url":"","content-format":"text/plain","raw-buffer":false,"name":"Send change request","x":2460,"y":660,"wires":[["1c225577.a8576b"]]},{"id":"d645aa55.15ea48","type":"function","z":"53bc0b3e.19bae4","name":"Store last measurement","func":"var thermostat = flow.get(\"thermostats\")[1];\n\nvar temperatures = flow.get(\"temperatures\") || {};\nvar values = temperatures[thermostat.address] || [];\n\nvalues.push(msg.payload.temperature);\ntemperatures[thermostat.address] = values;\n\nflow.set(\"temperatures\", temperatures);","outputs":1,"noerr":0,"x":1310,"y":740,"wires":[[]]},{"id":"60372c72.8802b4","type":"function","z":"53bc0b3e.19bae4","name":"Single thermostats average temperature","func":"var mqtt_topic = \"channels/805784/publish/0W3FWQOAFQ8NICWR\";\n\nvar thermostats = flow.get(\"thermostats\") || [];\nvar temperatures = flow.get(\"temperatures\") || {};\n\n// Message that will be sent to the MQTT broker\nmsg = {\n    topic: mqtt_topic,\n    payload: \"\"\n};\n\nfor (var i = 0; i < thermostats.length; i++) {\n    // The i-th thermostat is associated to the i-th + 1 channel field,\n    // because fields enumartion starts from 1\n    var fieldName = \"field\" + (i + 1);\n    \n    // Get the last minute readings of the thermostat\n    var values = temperatures[thermostats[i].address] || [];\n    \n    if (values.length !== 0) {\n        if (msg.payload.length !== 0) {\n            msg.payload += \"&\";\n        }\n        \n        // Determine the average of the last minute values\n        var sum = values.reduce((sum, current) => sum + current, 0);\n        var average = sum / values.length;\n        \n        // Set the field value\n        msg.payload += fieldName + \"=\" + average;\n    }\n}\n\n// Send the message only if it contains some data\nif (msg.payload.length !== 0) {\n    return [msg, {}];\n} else {\n    return [null, {}];\n}","outputs":2,"noerr":0,"x":440,"y":1480,"wires":[["487ae1e6.4f8768"],["ed0a50d2.376048"]]},{"id":"ed0a50d2.376048","type":"join","z":"53bc0b3e.19bae4","name":"Wait for data elaboration","mode":"custom","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":810,"y":1480,"wires":[["24a2f96.ec22306"]]},{"id":"24a2f96.ec22306","type":"function","z":"53bc0b3e.19bae4","name":"Reset last minute data","func":"flow.set(\"temperatures\", {});\nreturn {\n    payload: flow.get(\"temperatures\")\n};","outputs":1,"noerr":0,"x":1060,"y":1480,"wires":[[]]},{"id":"ec62999a.86e74","type":"ui_chart","z":"53bc0b3e.19bae4","name":"Line chart","group":"673cdb19.292c6c","order":0,"width":0,"height":0,"label":"Home average temperature","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"60","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":400,"y":1540,"wires":[[]]},{"id":"b183399f.03806","type":"mqtt in","z":"53bc0b3e.19bae4","name":"ThingSpeak: home temperature","topic":"channels/803420/subscribe/json/4DBE849WEH79JJX0","qos":"0","datatype":"auto","broker":"923ce09c.82551","x":170,"y":1540,"wires":[["ec62999a.86e74"]]},{"id":"dd76ed95.2dbbd","type":"mqtt in","z":"53bc0b3e.19bae4","name":"ThingSpeak: thermostat 1","topic":"channels/805784/subscribe/fields/field1/N0U6S7O6885EDIFI","qos":"0","datatype":"buffer","broker":"923ce09c.82551","x":150,"y":1600,"wires":[["3a39004e.530928"]]},{"id":"5c053606.a2cee8","type":"mqtt in","z":"53bc0b3e.19bae4","name":"ThingSpeak: thermostat 2","topic":"channels/805784/subscribe/fields/field2/N0U6S7O6885EDIFI","qos":"0","datatype":"utf8","broker":"923ce09c.82551","x":150,"y":1660,"wires":[["7ba69f8d.e574d"]]},{"id":"cb5d7043.a5ea68","type":"mqtt in","z":"53bc0b3e.19bae4","name":"ThingSpeak: thermostat 3","topic":"channels/805784/subscribe/fields/field3/N0U6S7O6885EDIFI","qos":"0","datatype":"auto","broker":"923ce09c.82551","x":150,"y":1720,"wires":[["7dd27141.1f322"]]},{"id":"72af2731.d05d9","type":"mqtt in","z":"53bc0b3e.19bae4","name":"ThingSpeak: thermostat 4","topic":"channels/805784/subscribe/fields/field4/N0U6S7O6885EDIFI","qos":"0","datatype":"auto","broker":"923ce09c.82551","x":150,"y":1780,"wires":[["9cbdb050.137bf"]]},{"id":"4461b128.372a88","type":"ui_chart","z":"53bc0b3e.19bae4","name":"Last hour values","group":"963cc694.1d9338","order":2,"width":0,"height":0,"label":"Last hour","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"No data available","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":590,"y":1600,"wires":[[]]},{"id":"45454584.0b2394","type":"ui_chart","z":"53bc0b3e.19bae4","name":"Last hour values","group":"b3cea44f.49b518","order":2,"width":0,"height":0,"label":"Last hour","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"No data available","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":590,"y":1660,"wires":[[]]},{"id":"9eb1d0bc.8e8be","type":"ui_chart","z":"53bc0b3e.19bae4","name":"Last hour values","group":"8f74d5fe.38e518","order":2,"width":0,"height":0,"label":"Last hour","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"No data available","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":590,"y":1720,"wires":[[]]},{"id":"1277a746.76e3b9","type":"ui_chart","z":"53bc0b3e.19bae4","name":"Last hour values","group":"604b5009.0ad49","order":2,"width":0,"height":0,"label":"Last hour","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"No data available","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":590,"y":1780,"wires":[[]]},{"id":"3a39004e.530928","type":"change","z":"53bc0b3e.19bae4","name":"Remove topic","rules":[{"t":"delete","p":"topic","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":1600,"wires":[["4461b128.372a88"]]},{"id":"7dd27141.1f322","type":"change","z":"53bc0b3e.19bae4","name":"Remove topic","rules":[{"t":"delete","p":"topic","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":1720,"wires":[["9eb1d0bc.8e8be"]]},{"id":"7ba69f8d.e574d","type":"change","z":"53bc0b3e.19bae4","name":"Remove topic","rules":[{"t":"delete","p":"topic","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":1660,"wires":[["45454584.0b2394"]]},{"id":"9cbdb050.137bf","type":"change","z":"53bc0b3e.19bae4","name":"Remove topic","rules":[{"t":"delete","p":"topic","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":1780,"wires":[["1277a746.76e3b9"]]},{"id":"868a7c48.18f078","type":"function","z":"53bc0b3e.19bae4","name":"Base URL","func":"var thermostats = flow.get(\"thermostats\");\n\nreturn {\n    payload: \"coap://[\" + thermostats[2].address + \"]\"\n};","outputs":1,"noerr":0,"x":610,"y":960,"wires":[["36e24269.887b5e","55506925.2def28"]]},{"id":"36e24269.887b5e","type":"function","z":"53bc0b3e.19bae4","name":"Systems URL","func":"return {\n    url: msg.payload + \"/systems\"\n};","outputs":1,"noerr":0,"x":800,"y":940,"wires":[["94c92ce0.834d48"]]},{"id":"55506925.2def28","type":"function","z":"53bc0b3e.19bae4","name":"Temperature URL","func":"return {\n    url:  msg.payload + \"/temperature\"\n};","outputs":1,"noerr":0,"x":810,"y":980,"wires":[["d0c5aef6.f0f0f"]]},{"id":"94c92ce0.834d48","type":"coap request","z":"53bc0b3e.19bae4","method":"GET","observe":false,"url":"","content-format":"text/plain","raw-buffer":false,"name":"Get systems status","x":1030,"y":940,"wires":[["6a1e0f45.1baeb8"]]},{"id":"d0c5aef6.f0f0f","type":"coap request","z":"53bc0b3e.19bae4","method":"GET","observe":true,"url":"","content-format":"text/plain","raw-buffer":false,"name":"Subscribe to temperature","x":1050,"y":980,"wires":[["17cb4015.051cc","4e25de63.c078c"]]},{"id":"6a1e0f45.1baeb8","type":"function","z":"53bc0b3e.19bae4","name":"Get single systems status","func":"var systems = [\"cooling\", \"heating\", \"ventilation\"];\nvar messages = [];\n\nsystems.forEach(function(sys) {\n    messages.push({\n        system: sys,\n        payload: msg.payload[sys]\n    });\n})\n\nreturn [messages];","outputs":1,"noerr":0,"x":1290,"y":940,"wires":[["2c478948.65f00e"]]},{"id":"17cb4015.051cc","type":"ui_gauge","z":"53bc0b3e.19bae4","name":"Current temperature","group":"8f74d5fe.38e518","order":1,"width":0,"height":0,"gtype":"gage","title":"Current","label":"","format":"{{msg.payload.temperature}} 째C","min":"-10","max":"50","colors":["#00ddff","#e6e600","#ca3838"],"seg1":"20","seg2":"30","x":1300,"y":980,"wires":[]},{"id":"4e25de63.c078c","type":"function","z":"53bc0b3e.19bae4","name":"Store last measurement","func":"var thermostat = flow.get(\"thermostats\")[2];\n\nvar temperatures = flow.get(\"temperatures\") || {};\nvar values = temperatures[thermostat.address] || [];\n\nvalues.push(msg.payload.temperature);\ntemperatures[thermostat.address] = values;\n\nflow.set(\"temperatures\", temperatures);","outputs":1,"noerr":0,"x":1310,"y":1020,"wires":[[]]},{"id":"2c478948.65f00e","type":"switch","z":"53bc0b3e.19bae4","name":"Dispatch response","property":"system","propertyType":"msg","rules":[{"t":"eq","v":"cooling","vt":"str"},{"t":"eq","v":"heating","vt":"str"},{"t":"eq","v":"ventilation","vt":"str"}],"checkall":"false","repair":false,"outputs":3,"x":1550,"y":940,"wires":[["d687467.c0b42b8"],["ffda7169.0e6968"],["bf64461b.db267"]]},{"id":"d687467.c0b42b8","type":"ui_switch","z":"53bc0b3e.19bae4","name":"","label":"Cooling","tooltip":"","group":"8f74d5fe.38e518","order":4,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"cooling","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":1760,"y":920,"wires":[["c64583c8.964888"]]},{"id":"ffda7169.0e6968","type":"ui_switch","z":"53bc0b3e.19bae4","name":"","label":"Heating","tooltip":"","group":"8f74d5fe.38e518","order":5,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"heating","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":1760,"y":960,"wires":[["c64583c8.964888"]]},{"id":"bf64461b.db267","type":"ui_switch","z":"53bc0b3e.19bae4","name":"","label":"Ventilation","tooltip":"","group":"8f74d5fe.38e518","order":6,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"ventilation","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":1770,"y":1000,"wires":[["c64583c8.964888"]]},{"id":"8ff510df.dd6ba8","type":"change","z":"53bc0b3e.19bae4","name":"Switch update message","rules":[{"t":"set","p":"system","pt":"msg","to":"payload.system","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"payload.value","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1830,"y":840,"wires":[["2c478948.65f00e"]]},{"id":"c64583c8.964888","type":"function","z":"53bc0b3e.19bae4","name":"Prepare desired change","func":"return {\n    payload: {\n        system: msg.topic,\n        value: msg.payload,\n    }\n}","outputs":1,"noerr":0,"x":2010,"y":940,"wires":[["3ad0e5b4.607b42","9d4d57a5.1fc278"]]},{"id":"9d4d57a5.1fc278","type":"join","z":"53bc0b3e.19bae4","name":"Wait for system response","mode":"custom","build":"merged","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1570,"y":840,"wires":[["8ff510df.dd6ba8"]]},{"id":"3ad0e5b4.607b42","type":"function","z":"53bc0b3e.19bae4","name":"Build request","func":"var thermostats = flow.get(\"thermostats\");\n\nreturn {\n    url: \"coap://[\" + thermostats[2].address + \"]/systems/\" + msg.payload.system,\n};","outputs":1,"noerr":0,"x":2250,"y":940,"wires":[["a90409ac.e3872"]]},{"id":"e92a9b4e.a102a","type":"change","z":"53bc0b3e.19bae4","name":"Allow join","rules":[{"t":"set","p":"complete","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":2660,"y":940,"wires":[["9d4d57a5.1fc278"]]},{"id":"a90409ac.e3872","type":"coap request","z":"53bc0b3e.19bae4","method":"POST","observe":false,"url":"","content-format":"text/plain","raw-buffer":false,"name":"Send change request","x":2460,"y":940,"wires":[["e92a9b4e.a102a"]]},{"id":"6d7c9c8e.03e3bc","type":"function","z":"53bc0b3e.19bae4","name":"Base URL","func":"var thermostats = flow.get(\"thermostats\");\n\nreturn {\n    payload: \"coap://[\" + thermostats[3].address + \"]\"\n};","outputs":1,"noerr":0,"x":610,"y":1240,"wires":[["78ea74e4.47327c","d9cfc46b.47f55"]]},{"id":"78ea74e4.47327c","type":"function","z":"53bc0b3e.19bae4","name":"Systems URL","func":"return {\n    url: msg.payload + \"/systems\"\n};","outputs":1,"noerr":0,"x":800,"y":1220,"wires":[["cf3db53b.4d8b38"]]},{"id":"d9cfc46b.47f55","type":"function","z":"53bc0b3e.19bae4","name":"Temperature URL","func":"return {\n    url:  msg.payload + \"/temperature\"\n};","outputs":1,"noerr":0,"x":810,"y":1260,"wires":[["a0bc20c7.c29ec"]]},{"id":"cf3db53b.4d8b38","type":"coap request","z":"53bc0b3e.19bae4","method":"GET","observe":false,"url":"","content-format":"text/plain","raw-buffer":false,"name":"Get systems status","x":1030,"y":1220,"wires":[["2e2e838d.1c057c"]]},{"id":"a0bc20c7.c29ec","type":"coap request","z":"53bc0b3e.19bae4","method":"GET","observe":true,"url":"","content-format":"text/plain","raw-buffer":false,"name":"Subscribe to temperature","x":1050,"y":1260,"wires":[["a6774e8e.eba6c8","1f537aab.59f2c5"]]},{"id":"2e2e838d.1c057c","type":"function","z":"53bc0b3e.19bae4","name":"Get single systems status","func":"var systems = [\"cooling\", \"heating\", \"ventilation\"];\nvar messages = [];\n\nsystems.forEach(function(sys) {\n    messages.push({\n        system: sys,\n        payload: msg.payload[sys]\n    });\n})\n\nreturn [messages];","outputs":1,"noerr":0,"x":1290,"y":1220,"wires":[["b13d77e0.d21a7"]]},{"id":"a6774e8e.eba6c8","type":"ui_gauge","z":"53bc0b3e.19bae4","name":"Current temperature","group":"604b5009.0ad49","order":1,"width":0,"height":0,"gtype":"gage","title":"Current","label":"","format":"{{msg.payload.temperature}} 째C","min":"-10","max":"50","colors":["#00ddff","#e6e600","#ca3838"],"seg1":"20","seg2":"30","x":1300,"y":1260,"wires":[]},{"id":"1f537aab.59f2c5","type":"function","z":"53bc0b3e.19bae4","name":"Store last measurement","func":"var thermostat = flow.get(\"thermostats\")[3];\n\nvar temperatures = flow.get(\"temperatures\") || {};\nvar values = temperatures[thermostat.address] || [];\n\nvalues.push(msg.payload.temperature);\ntemperatures[thermostat.address] = values;\n\nflow.set(\"temperatures\", temperatures);","outputs":1,"noerr":0,"x":1310,"y":1300,"wires":[[]]},{"id":"b13d77e0.d21a7","type":"switch","z":"53bc0b3e.19bae4","name":"Dispatch response","property":"system","propertyType":"msg","rules":[{"t":"eq","v":"cooling","vt":"str"},{"t":"eq","v":"heating","vt":"str"},{"t":"eq","v":"ventilation","vt":"str"}],"checkall":"false","repair":false,"outputs":3,"x":1550,"y":1220,"wires":[["dca0d472.6bf668"],["f9f9db0c.bdad"],["e4c48165.4fcaa8"]]},{"id":"dca0d472.6bf668","type":"ui_switch","z":"53bc0b3e.19bae4","name":"","label":"Cooling","tooltip":"","group":"604b5009.0ad49","order":4,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"cooling","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":1760,"y":1200,"wires":[["9090cd7c.26839"]]},{"id":"f9f9db0c.bdad","type":"ui_switch","z":"53bc0b3e.19bae4","name":"","label":"Heating","tooltip":"","group":"604b5009.0ad49","order":5,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"heating","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":1760,"y":1240,"wires":[["9090cd7c.26839"]]},{"id":"e4c48165.4fcaa8","type":"ui_switch","z":"53bc0b3e.19bae4","name":"","label":"Ventilation","tooltip":"","group":"604b5009.0ad49","order":6,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"ventilation","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":1770,"y":1280,"wires":[["9090cd7c.26839"]]},{"id":"6706522b.def78c","type":"change","z":"53bc0b3e.19bae4","name":"Switch update message","rules":[{"t":"set","p":"system","pt":"msg","to":"payload.system","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"payload.value","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1830,"y":1120,"wires":[["b13d77e0.d21a7"]]},{"id":"9090cd7c.26839","type":"function","z":"53bc0b3e.19bae4","name":"Prepare desired change","func":"return {\n    payload: {\n        system: msg.topic,\n        value: msg.payload,\n    }\n}","outputs":1,"noerr":0,"x":2010,"y":1220,"wires":[["ffe527e9.3d9fa8","5281af70.5a574"]]},{"id":"5281af70.5a574","type":"join","z":"53bc0b3e.19bae4","name":"Wait for system response","mode":"custom","build":"merged","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1570,"y":1120,"wires":[["6706522b.def78c"]]},{"id":"ffe527e9.3d9fa8","type":"function","z":"53bc0b3e.19bae4","name":"Build request","func":"var thermostats = flow.get(\"thermostats\");\n\nreturn {\n    url: \"coap://[\" + thermostats[3].address + \"]/systems/\" + msg.payload.system,\n};","outputs":1,"noerr":0,"x":2250,"y":1220,"wires":[["d07ca90.359d6d8"]]},{"id":"f51e782f.77c1c8","type":"change","z":"53bc0b3e.19bae4","name":"Allow join","rules":[{"t":"set","p":"complete","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":2660,"y":1220,"wires":[["5281af70.5a574"]]},{"id":"d07ca90.359d6d8","type":"coap request","z":"53bc0b3e.19bae4","method":"POST","observe":false,"url":"","content-format":"text/plain","raw-buffer":false,"name":"Send change request","x":2460,"y":1220,"wires":[["f51e782f.77c1c8"]]},{"id":"963cc694.1d9338","type":"ui_group","z":"","name":"Thermostat 1","tab":"1faf99ff.d5b4f6","order":2,"disp":true,"width":"6","collapse":false},{"id":"96911e44.7cc4a8","type":"mqtt-broker","z":"","name":"ThingSpeak: publish","broker":"mqtt.thingspeak.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"b3cea44f.49b518","type":"ui_group","z":"","name":"Thermostat 2","tab":"1faf99ff.d5b4f6","order":3,"disp":true,"width":"6","collapse":false},{"id":"673cdb19.292c6c","type":"ui_group","z":"","name":"General","tab":"1faf99ff.d5b4f6","order":1,"disp":true,"width":"6","collapse":false},{"id":"923ce09c.82551","type":"mqtt-broker","z":"","name":"ThingSpeak: subscribe","broker":"mqtt.thingspeak.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"8f74d5fe.38e518","type":"ui_group","z":"","name":"Thermostat 3","tab":"1faf99ff.d5b4f6","order":4,"disp":true,"width":"6","collapse":false},{"id":"604b5009.0ad49","type":"ui_group","z":"","name":"Thermostat 4","tab":"1faf99ff.d5b4f6","order":5,"disp":true,"width":"6","collapse":false},{"id":"1faf99ff.d5b4f6","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]